/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, button, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

* {
  /* border: 1px solid pink; */
}

/* Body */
body {
  height: 100vh;
  background-image: url('./assets/fire.png');
}

main {
  height: 90vh;
  /* background-color: lightgray; */
  padding: 1%;
  /* background-image: url('./assets/fire.png'); */
  /* background-image: url('./assets/skull-background.jpg'); */
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: .7rem;
}

h1 {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  margin: .5% 0 1.5% 0;
  width: 50%;
}
/* card styling */
.card-container {
  height: 18rem;
  width: 100%;
  border: 1px solid black;
}

.card-header {
  position: relative;
  height:40%;
  width:100%;
}

.card-header img {
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 1;
  z-index: 1;
}

.card-header i {
  color: white;
  font-size: 2rem;
  z-index: 2;
}

.times-visited {
  z-index: 2;
  color: white;
}

.card-info {
  height: 60%;
  padding: 0 .5rem 0 .5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  color: red;
  font-size: .8rem
}

h4 {
  font-size: 110%;
}

.restaurant-title h3 {
  font-size: 1.5rem;
}
/* nav */
header {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr .2fr;
  grid-template-rows: .5fr 1fr;
  grid-template-areas:
    "empty user"
    "nav title";
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  /* background-color: black; */
  /* background-image: url('./assets/fire.png'); */
}

i {
  color: white;
}

button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

nav {
  display: flex;
  font-size: 1.5rem;
  padding: .5%;
  color: white;
  grid-area: nav;
}

.user-container {
  align-self: center;
  grid-area: user;
}

.title-container {
  align-self: center;
  font-size: 2rem;
  color: white;
  grid-area: title;
}
